<%= form_with(model: bulletin_item) do |form| %>
  <% if bulletin_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bulletin_item.errors.count, "error") %> prohibited this bulletin_item from being saved:</h2>

      <ul>
        <% bulletin_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_field :body %>
  </div>

  <div class="field">
    <%= form.label :picture %>
    <%= form.text_field :picture %>
  </div>

  <!--div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date %>
  </div-->

  <div class="field">
    <%= form.label :is_active %>
    <%= form.check_box :is_active %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
