<p id="notice"><%= notice %></p>

<h1>Bulletin Items</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Picture</th>
      <th>Date</th>
      <th>Is active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bulletin_items.each do |bulletin_item| %>
      <tr>
        <td><%= bulletin_item.title %></td>
        <td><%= bulletin_item.body %></td>
        <td><%= bulletin_item.picture %></td>
        <td><%= bulletin_item.date %></td>
        <td><%= bulletin_item.is_active %></td>
        <td><%= link_to 'Show', bulletin_item %></td>
        <td><%= link_to 'Edit', edit_bulletin_item_path(bulletin_item) %></td>
        <td><%= link_to 'Destroy', bulletin_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bulletin Item', new_bulletin_item_path %>
